body {
  font-family: 'Raleway', sans-serif;
}


main {
  text-align: center;
  width: 100%;
}

.container {
  padding: 0 15%;
}

.image {
  margin-bottom: 32px;
}

img {
  width: 100%;
}

h1 {
  font-size: 48px;
  margin-top: 80px;
  margin-bottom: 80px;
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 0 10px;
  }

  .image {
    margin-bottom: 10px;
  }

  h1 {
    font-size: 32px;
    margin: 40px 20px 40px 20px;
  }
}
